<div id="database-search">
  <form action="/databases/<%= @database %>/search" method="GET">
    <label for="database-search-query">Search for keys:</label>
    <input type="text" id="database-search-query" name="query" />
    <input type="submit" value="Search" />
  </form>
</div>
