<div id="databases-search">

  <% if @database.nil? %>

  Database doesn't exist.

  <% else %>

  <div class="clearfix">
    <%= erb :"databases/_partial_current_database", :layout => false %>
    <%= erb :"databases/_form_search", :layout => false %>
  </div>

  <%= erb :"keys/_partial_list", :layout => false %>

  <% end %>
</div>